In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
# Import NumPy and the stats module from SciPy.
import numpy as np
import scipy.stats as sts

In [2]:
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [3]:
# Read the city data file and store it in a pandas DataFrame.
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [4]:
# Read the ride data file and store it in a pandas DataFrame.
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head(10)

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344
5        South Latoya  2019-03-11 12:26:48   9.52  1994999424437
6       New Paulville  2019-02-27 11:17:56  43.25   793208410091
7        Simpsonburgh  2019-04-26 00:43:24  35.98   111953927754
8     South Karenland  2019-01-08 03:28:48  35.09  7995623208694
9       North Jasmine  2019-03-09 06:26:29  42.81  5327642267789

In [5]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

In [6]:
# Display the DataFrame
pyber_data_df.head(50)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2019-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2019-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2019-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2019-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2019-03-09 06:26:29,42.81,5327642267789,33,Urban
10,New Kimberlyborough,2019-02-07 01:10:11,9.34,7992781920789,33,Urban
11,West Angela,2019-01-12 01:45:27,26.86,4820052223501,48,Urban
12,Rodneyfort,2019-03-02 18:03:20,44.26,2494064867705,34,Urban
13,West Angela,2019-01-10 12:17:31,12.74,2108723916092,48,Urban
14,Roberthaven,2019-05-04 14:48:56,25.66,1026197778354,47,Urban
15,North Jason,2019-03-28 22:28:44,9.19,7007022521141,6,Urban
16,Williamsview,2019-01-03 16:19:25,18.93,1979492913169,46,Urban
17,Leahton,2019-02-26 18:42:15,8.85,6966668662612,17,Urban
18,West Anthony,2019-03-06 02:27:01,10.02,9396763280782,70,Urban
19,New Kimberlyborough,2019-04-25 22:58:38,29.67,4823568522144,33,Urban
20,Roberthaven,2019-02-24 10:26:34,7.80,2180566685151,47,Urban
21,New Paulton,2019-05-01 03:12:49,8.28,8527101897862,44,Urban
22,West Patrickchester,2019-03-19 05:46:20,40.86,898889456779,25,Urban
23,Deanville,2019-04-25 03:29:09,41.52,6055928921559,49,Urban
24,West Josephberg,2019-02-19 16:22:09,36.39,3322126516683,45,Urban
25,West Samuelburgh,2019-05-03 14:33:41,41.12,7330842806458,73,Urban
26,West Heidi,2019-03-14 23:46:50,24.40,4908573010166,28,Urban
27,Loganberg,2019-04-01 01:06:03,8.23,678728883160,23,Urban
28,Huntermouth,2019-02-10 23:32:13,25.79,1880379662035,37,Urban
29,South Latoya,2019-01-11 18:44:14,27.41,8662301917375,10,Urban
30,New Paulville,2019-03-18 22:54:11,25.05,5031803855561,44,Urban
31,Grahamburgh,2019-01-15 11:44:20,40.69,307021255892,61,Urban
32,Port Frank,2019-02-02 14:14:37,41.47,6746609056348,23,Urban
33,East Kaylahaven,2019-02-28 04:13:57,25.96,3662521920044,65,Urban
34,Rodneyfort,2019-02-03 00:48:41,44.86,2325699544245,34,Urban
35,South Karenland,2019-02-12 06:52:03,36.01,4015929454731,4,Urban
36,West Robert,2019-02-15 04:21:47,12.28,1442502460354,39,Urban
37,North Markport,2019-02-18 08:17:35,38.09,925012921771,22,Urban
38,Williamsview,2019-03-12 06:47:43,8.35,1940440908308,46,Urban
39,Richardfort,2019-02-24 08:40:38,13.93,5628545007794,38,Urban
40,New Kimberlyborough,2019-03-14 16:47:25,27.90,6750798028086,33,Urban
41,Reynoldsfurt,2019-03-25 14:33:27,34.06,6604420154219,67,Urban
42,South Karenland,2019-05-08 02:31:25,41.33,5688921852912,4,Urban
43,Rodneyfort,2019-04-25 20:57:43,21.70,8534600667414,34,Urban
44,Justinberg,2019-04-23 08:59:48,14.65,9878231118211,39,Urban
45,West Josephberg,2019-03-05 03:27:34,12.91,102684585771,45,Urban
46,South Karenland,2019-03-03 14:48:30,37.30,4104001937078,4,Urban
47,Leahton,2019-05-05 10:34:50,17.05,5846586406028,17,Urban
48,Martinezhaven,2019-03-19 15:31:26,5.30,264337981979,25,Urban
49,North Jason,2019-03-03 02:13:37,28.02,2670554129601,6,Urban

In [7]:
# Create the Urban city DataFrame.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [8]:
# Create the Suburban city DataFrames.
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
suburban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,2019-01-27 03:08:01,27.79,6653622887913,11,Suburban
1626,East Kentstad,2019-04-07 19:44:19,18.75,6575961095852,20,Suburban
1627,Lake Omar,2019-01-17 21:33:35,21.71,966911700371,22,Suburban
1628,Myersshire,2019-02-27 17:38:39,17.10,5706770909868,19,Suburban
1629,West Hannah,2019-04-19 01:06:59,37.78,2273047151891,12,Suburban

In [9]:
# Create the  Rural city DataFrames.
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_cities_df

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,2019-04-13 11:13:31,43.22,1076079536213,9,Rural
2251,North Holly,2019-02-02 14:54:00,12.42,1985256326182,8,Rural
2252,Michaelberg,2019-03-27 18:27:34,54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2019-02-23 21:12:24,47.90,3269652929887,2,Rural
2254,Lake Latoyabury,2019-05-06 08:57:56,51.80,4018025271936,2,Rural
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

In [10]:
# Technical Analysis Deliverable 1: A Summary DataFrame

In [11]:
# Get the number of rides for urban city type./
urban_ride_count = urban_cities_df.groupby(["type"]).count()["ride_id"]
urban_ride_count.head()

type
Urban    1625
Name: ride_id, dtype: int64

In [12]:
# Get the number of rides for suburban city type./
suburban_ride_count = suburban_cities_df.groupby(["type"]).count()["ride_id"]
suburban_ride_count.head()

type
Suburban    625
Name: ride_id, dtype: int64

In [13]:
# Get the number of rides for rural city type./
rural_ride_count = rural_cities_df.groupby(["type"]).count()["ride_id"]
rural_ride_count.head()

type
Rural    125
Name: ride_id, dtype: int64

In [14]:
urban_cities_df[urban_cities_df["city"] == "Lake Jonathanshire"]

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
76,Lake Jonathanshire,2019-04-07 20:51:11,31.25,4441251834598,5,Urban
154,Lake Jonathanshire,2019-03-09 23:45:55,19.89,2389495660448,5,Urban
185,Lake Jonathanshire,2019-04-07 18:09:21,24.28,7796805191168,5,Urban
196,Lake Jonathanshire,2019-01-02 14:14:50,13.89,424254840012,5,Urban
277,Lake Jonathanshire,2019-04-06 11:30:32,16.84,6164453571846,5,Urban
329,Lake Jonathanshire,2019-03-21 00:18:34,37.95,8353656732934,5,Urban
497,Lake Jonathanshire,2019-01-28 00:07:00,5.67,9756573174778,5,Urban
693,Lake Jonathanshire,2019-01-24 12:24:22,34.65,3319117904437,5,Urban
712,Lake Jonathanshire,2019-03-24 16:27:49,14.94,1670908453476,5,Urban
902,Lake Jonathanshire,2019-04-11 22:10:30,12.81,5999870428814,5,Urban
1046,Lake Jonathanshire,2019-01-23 21:43:16,21.11,7711472105447,5,Urban
1157,Lake Jonathanshire,2019-01-29 00:19:07,41.05,6649692036139,5,Urban
1230,Lake Jonathanshire,2019-03-22 14:33:32,18.72,4675968803527,5,Urban
1255,Lake Jonathanshire,2019-04-16 20:26:30,32.47,1013873953228,5,Urban
1325,Lake Jonathanshire,2019-04-11 19:49:34,25.92,8533808747676,5,Urban
1404,Lake Jonathanshire,2019-04-09 21:41:30,15.96,577276092645,5,Urban
1411,Lake Jonathanshire,2019-01-16 09:27:03,26.27,3267656258507,5,Urban
1463,Lake Jonathanshire,2019-01-21 12:12:56,37.25,2966536034637,5,Urban
1514,Lake Jonathanshire,2019-04-11 21:32:27,22.48,3505458786874,5,Urban
1518,Lake Jonathanshire,2019-02-16 01:49:45,17.58,3641777572467,5,Urban
1524,Lake Jonathanshire,2019-01-17 13:15:58,28.42,6544222037368,5,Urban
1532,Lake Jonathanshire,2019-01-21 09:48:28,22.36,2522096563712,5,Urban
1545,Lake Jonathanshire,2019-02-23 06:10:30,26.63,5372487991955,5,Urban

In [15]:
# Get the number of drivers for urban city type. /
urban_drivers_count = city_data_df[city_data_df["type"]=='Urban'].groupby(["type"]).sum()["driver_count"]
urban_drivers_count

type
Urban    2405
Name: driver_count, dtype: int64

In [16]:
# Get the number of drivers for suburban city type./
suburban_drivers_count = city_data_df[city_data_df["type"]=='Suburban'].groupby(["type"]).sum()["driver_count"]
suburban_drivers_count

type
Suburban    490
Name: driver_count, dtype: int64

In [17]:
# Get the number of drivers for rural city type./
rural_drivers_count = city_data_df[city_data_df["type"]=='Rural'].groupby(["type"]).sum()["driver_count"]
rural_drivers_count

type
Rural    78
Name: driver_count, dtype: int64

In [18]:
# Get Total Fares for urban city type./
urban_total_fare = urban_cities_df.groupby(["type"]).sum()["fare"]
urban_total_fare

type
Urban    39854.38
Name: fare, dtype: float64

In [19]:
# Get Total Fares for the suburban city type./
suburban_total_fare = suburban_cities_df.groupby(["type"]).sum()["fare"]
suburban_total_fare

type
Suburban    19356.33
Name: fare, dtype: float64

In [20]:
# Get Total Fares for the rural city type./
rural_total_fare = rural_cities_df.groupby(["type"]).sum()["fare"]
rural_total_fare

type
Rural    4327.93
Name: fare, dtype: float64

In [21]:
# Get average fare per ride for the urban city type./
urban_avg_fare = urban_cities_df.groupby(["type"]).mean()["fare"]
urban_avg_fare.head()

type
Urban    24.525772
Name: fare, dtype: float64

In [22]:
# Get average fare per ride for the suburban city type./
suburban_avg_fare = suburban_cities_df.groupby(["type"]).mean()["fare"]
suburban_avg_fare.head()

type
Suburban    30.970128
Name: fare, dtype: float64

In [23]:
# Get average fare per ride for the rural city type./
rural_avg_fare = rural_cities_df.groupby(["type"]).mean()["fare"]
rural_avg_fare.head()

type
Rural    34.62344
Name: fare, dtype: float64

In [24]:
# Get Average Fare per Driver for urban city type
urban_avg_driver_fare = urban_total_fare/urban_drivers_count
urban_avg_driver_fare

type
Urban    16.571468
dtype: float64

In [25]:
# Get Average Fare per Driver for suburban city type
suburban_avg_driver_fare = suburban_total_fare/suburban_drivers_count
suburban_avg_driver_fare

type
Suburban    39.502714
dtype: float64

In [26]:
# Get Average Fare per Driver for rural city type
rural_avg_driver_fare = rural_total_fare/rural_drivers_count

In [27]:
urban_ride_count.values[0]

1625

In [28]:
summary_dict = {'Total Rides': [urban_ride_count.values[0], suburban_ride_count.values[0], rural_ride_count.values[0]], 
                'Total Drivers': [urban_drivers_count.values[0], suburban_drivers_count.values[0], rural_drivers_count.values[0]],
                'Total Fares': [urban_total_fare.values[0], suburban_total_fare.values[0], rural_total_fare.values[0]],
                'Average Fare Per Ride': [urban_avg_fare.values[0], suburban_avg_fare.values[0], rural_avg_fare.values[0]],
                'Average Fare Per Driver': [urban_avg_driver_fare.values[0], suburban_avg_driver_fare.values[0],rural_avg_driver_fare.values[0]]
               }
summary_df = pd.DataFrame(summary_dict
                          , columns = ['Total Rides', 'Total Drivers', 'Total Fares', 'Average Fare Per Ride', 'Average Fare Per Driver'])
summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
0,1625,2405,39854.38,24.525772,16.571468
1,625,490,19356.33,30.970128,39.502714
2,125,78,4327.93,34.623440,55.486282

In [29]:
summary_df['City Type'] = ['Urban', 'Suburban', 'Rural']

In [30]:
summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver,City Type
0,1625,2405,39854.38,24.525772,16.571468,Urban
1,625,490,19356.33,30.970128,39.502714,Suburban
2,125,78,4327.93,34.623440,55.486282,Rural

In [31]:
summary_df= summary_df.set_index('City Type')

In [32]:
summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
City Type,,,,,
Urban,1625,2405,39854.38,24.525772,16.571468
Suburban,625,490,19356.33,30.970128,39.502714
Rural,125,78,4327.93,34.623440,55.486282

In [33]:
summary_df['Total Fares'] = summary_df['Total Fares'].map("${:,.2f}".format)
summary_df['Average Fare Per Ride'] = summary_df['Average Fare Per Ride'].map("${:,.2f}".format)
summary_df['Average Fare Per Driver'] = summary_df['Average Fare Per Driver'].map("${:,.2f}".format)
summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
City Type,,,,,
Urban,1625,2405,"$39,854.38",$24.53,$16.57
Suburban,625,490,"$19,356.33",$30.97,$39.50
Rural,125,78,"$4,327.93",$34.62,$55.49

In [34]:
#Technical Analysis Deliverable 2: Multiple-Line Plot for the Sum of the Fares for Each City Type

In [35]:
pyber_data_df=pyber_data_df.rename(columns={'city':'City', 'date':'Date','fare':'Fare', 'ride_id': 'Ride Id','driver_count': 'No. Drivers', 'type':'City Type'})

In [36]:
pyber_data_df

,City,Date,Fare,Ride Id,No. Drivers,City Type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

In [37]:
pyber_data_df= pyber_data_df.set_index('Date')

In [38]:
pyber_data_df

,City,Fare,Ride Id,No. Drivers,City Type
Date,,,,,
2019-01-14 10:14:22,Lake Jonathanshire,13.83,5739410935873,5,Urban
2019-03-04 18:24:09,South Michelleport,30.24,2343912425577,72,Urban
2019-02-24 04:29:00,Port Samanthamouth,33.44,2005065760003,57,Urban
2019-02-10 23:22:03,Rodneyfort,23.44,5149245426178,34,Urban
2019-03-06 04:28:35,South Jack,34.58,3908451377344,46,Urban
...,...,...,...,...,...
2019-04-29 17:04:39,Michaelberg,13.38,8550365057598,6,Rural
2019-01-30 00:05:47,Lake Latoyabury,20.76,9018727594352,2,Rural
2019-02-10 21:03:50,North Jaime,11.11,2781339863778,1,Rural
2019-05-07 19:22:15,West Heather,44.94,4256853490277,4,Rural
2019-04-25 10:20:13,Newtonview,55.84,9990581345298,1,Rural

In [46]:
type_fare_df = pyber_data_df.copy()
type_fare_df

,City,Fare,Ride Id,No. Drivers,City Type
Date,,,,,
2019-01-14 10:14:22,Lake Jonathanshire,13.83,5739410935873,5,Urban
2019-03-04 18:24:09,South Michelleport,30.24,2343912425577,72,Urban
2019-02-24 04:29:00,Port Samanthamouth,33.44,2005065760003,57,Urban
2019-02-10 23:22:03,Rodneyfort,23.44,5149245426178,34,Urban
2019-03-06 04:28:35,South Jack,34.58,3908451377344,46,Urban
...,...,...,...,...,...
2019-04-29 17:04:39,Michaelberg,13.38,8550365057598,6,Rural
2019-01-30 00:05:47,Lake Latoyabury,20.76,9018727594352,2,Rural
2019-02-10 21:03:50,North Jaime,11.11,2781339863778,1,Rural
2019-05-07 19:22:15,West Heather,44.94,4256853490277,4,Rural
2019-04-25 10:20:13,Newtonview,55.84,9990581345298,1,Rural

In [57]:
#type_fare_df.['Date] = type_fare_df[['Date']].apply(pd.to_date)
type_fare_df.index.astype('datetime64[ns]')

DatetimeIndex(['2019-01-14 10:14:22', '2019-03-04 18:24:09',
               '2019-02-24 04:29:00', '2019-02-10 23:22:03',
               '2019-03-06 04:28:35', '2019-03-11 12:26:48',
               '2019-02-27 11:17:56', '2019-04-26 00:43:24',
               '2019-01-08 03:28:48', '2019-03-09 06:26:29',
               ...
               '2019-04-19 04:32:47', '2019-03-18 10:38:05',
               '2019-01-27 18:43:05', '2019-04-29 01:58:44',
               '2019-01-30 10:55:23', '2019-04-29 17:04:39',
               '2019-01-30 00:05:47', '2019-02-10 21:03:50',
               '2019-05-07 19:22:15', '2019-04-25 10:20:13'],
              dtype='datetime64[ns]', name='Date', length=2375, freq=None)